<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
    
  </head>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SuperCell-ELM-A</title>
<style>
	body{
	    background: url(http://xs01.meituan.net/waimai_web/img/map/bg.jpg) no-repeat #F4F4F4;
    	background-size: cover;
	}
	#actionh1 a{
		margin-bottom:30px;
		float:none;
		color:#2c2c2c;
	}
	.label-primary{
		background-color:#c9c1b7;
		
	}


</style>
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../html/index.html">SuperCell-ELM-A</a>
        </div>
      </div>
    </nav>
    
    <div width="20%" style="margin-top:20%;text-align:center;" align="center">
    <h1 id="actionh1">
    	<a class="label label-primary" href="../html/merchantstate.html">商家管理</a>
    	<a class="label label-primary" href="../html/recommendedDishes.html">菜品管理</a>
    	<a class="label label-primary" href="../html/merchantRating.html">评分管理</a>
    	<a class="label label-primary" href="../html/complaint.html">查看投诉</a>
    	
    	
    </h1>
    
    
    </div>
</body>
<script>
	


</script>
</html>
