<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SuperCell-ELM-A</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../html/index.html">SuperCell-ELM-A</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="../html/merchantstate.html">商户管理</a></li>
            <li><a href="../html/recommendedDishes.html">推荐菜品管理</a></li>
            <li><a href="../html/merchantRating.html">评分管理</a></li>
            <li><a href="../html/complaint.html">投诉信息管理</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">商户列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>商户名称</th>
                  <th>商户状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody id="tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
  <script type="text/javascript">
   $(document).ready(function(){
    $.ajax({
        type:"GET",
        url:"/SuperCell-ELM-A/merchantmanage/getmerchantstate.do",
        success:function(data){
         var temp = ""
          for(var i = 0 ; i < data.length ; i++){
             //alert(data[i].merchantId)
             var item = data[i];
             var merchantId = item.merchantId
             var merchantName = item.merchantName
             var merchantState = item.merchantState
             var mstate=""
             if(merchantState==1){
                mstate="审核通过"
             }
             if(merchantState==2){
                mstate="待审核"
             }
             if(merchantState==3){
                mstate="审核未通过"
             }
             if(merchantState==4){
                mstate="已拉黑"
             }

              temp +=" <tr><td>"+merchantId+"</td><td>"+merchantName+"</td><td>"+mstate+"</td><td><a href=\"../html/merchantDetail.html?merchantId="+merchantId+"&merchantState="+merchantState+"\"><Button class=\"btn btn-primary\">查看详情</Button></a></td></tr>"

          }
           $('tbody').append(temp);  
        },
        error:(err)=>{

        }
      })
})
  </script>
</html>
